.hamburger-menu {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 2em;
    img {
        width: 100%;
    }
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 3em;
    height: 0.2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .cross-bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
  }
  
  .cross-bar2 {
    opacity: 0;
  }
  
  .cross-bar3 {
    transform: rotate(45deg) translate(-10px, -8px);
  }