@import "./utility";

.sidePop {
    display: flex;
    flex-direction: row;
    margin: 2em 0em;
    width: 80%;
    padding: 1em;
    position: absolute;
    bottom: 5em;
    right: 0;
    justify-content: flex-end;
    color: white;
    @media (min-width: 1200px) {
        width: 20%;
      }
    &__legendContainer {
        width: 100%;
        padding: 1em;
        background: $mainColor;
        margin-left: 0.5em;
        text-align: justify;
        border-radius: 1em;
        &__gradianColor {
            height: 2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                margin: 1em;
            }
        }
        &__roads {
            .roadColor {
                height: 1em;
            }
            .roadContainer {
                display: grid;
                grid-template-columns: 40% 60%;
                align-items: center;
            }
        }
        &__icons {
            display: grid;
            width: 100%;
            grid-template-rows: 50% 50%;
            &__years, &__points {
                display: grid;
                width: 100%;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 50% 50%;
                img {
                    width: 100%;
                }
            }
            h2 {
                height: 1em;
            }
        }
    }
    &__sliderContainer {
        width: 100%;
        padding: 1em;
        background: $mainColor;
        border-radius: 1em;
        &:first-of-type {
            height: 30%;
        }
    }
    &__legend {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        cursor: pointer; 
        width: 3em;
        padding: 1em;
        position: absolute;
        bottom: 0;
        right: 0;
        justify-content: flex-end;
        border-radius: 1em;
        background-color: $mainColor;
        img {
            width: 100%;
        }
        &:hover {
            background: azure;
            transition: 200ms;
        }
    }
    &__timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        cursor: pointer; 
        width: 3em;
        padding: 1em;
        position: absolute;
        bottom: 0;
        right: 5.5em;
        justify-content: flex-end;
        border-radius: 1em;
        background-color: $mainColor;
        img {
            width: 100%;
        }
        &:hover {
            background: azure;
            transition: 200ms;
        }
    }
}